.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input{
    width: 200px;
    height: 30px;
    font-size: 16px;
    outline: none;
    padding: 6px 16px;
    border: 1px solid gray;
    border-radius: 4px;
}
.input_group{
    position: relative;
    margin-bottom: 15px;
}
.input_group #input:focus{
    border-color: aqua;
}
.input_group label{
    position: absolute;
    cursor: text;
    top: auto;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease;
}
.input_group input:focus + label{
    color: aqua;
    font-size: 11px;
}

