input[type=search] {
    font: 400 16px/1 sans-serif;
    padding: .75em .25em .75em 3em;
    border-radius: .5rem;
    border: 2px solid #000000;
    color: #ccc;
    position: relative; /* 追加 */
}

input[type=search]::before {
    content: "🔍"; /* アイコンを設定 */
    position: absolute; /* 絶対配置 */
    top: 50%; /* 垂直方向の中央 */
    transform: translateY(-50%); /* 中央揃え */
    color: #000; /* アイコンの色 */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* 商品カードのスタイル */
.product-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    text-align: center;
}
