body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c0c0c0;
    padding: 20px;
    text-align: center;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* 商品カードのスタイル */
.product-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    text-align: center;
}
