.background{
    background-color: gray;
}

.label{
    margin:0 auto;
    font-size: large;
    text-align: center;
}
.form1{
    margin:0 auto;
    display: block;
}
.form2{
    margin:0 auto;
    display: block;
}
.form3{
    margin:0 auto;
    display: block;
}
.form4{
    margin:0 auto;
    display: block;
}
.botton{
    background-color: green;
    color: black;
    margin:0 auto;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}