.background{
    background-color: #d3d3d3d3;
}
.label{
    margin:0 auto;
    font-size: large;
    text-align: center;
}
.form1{
    margin:0 auto;
    display: block;
    text-align: center;
}
.form2{
    margin:0 auto;
    display: block;
    text-align: center;
}
.form3{
    margin:0 auto;
    display: block;
    text-align: center;
}
.form4{
    margin:0 auto;
    display: block;
    text-align: center;
}
button {
    margin: 0 auto;             
    font-weight: bold;          
    width: 300px;              
    padding: 10px 20px;         
    color: #dc143c;            
    border: none;                
    background-color: #00ff00;  
    text-align: center;         
}