.background{
    background-color: gray;
}
.label{
    margin:0 auto;
    font-size: large;
}
.form1{
    margin:0 auto;
}
.form2{
    margin:0 auto;
}
.form3{
    margin:0 auto;
}
.form4{
    margin:0 auto;
}
.botton{
    background-color: green;
    color: black;
    margin:0 auto;
}