.box{
    text-align: center;
    padding: 20px;
}
span{
    display: inline-block;
    margin-bottom: auto;
    height: 80px;
    padding: 50px;
    height: 20px;
    vertical-align: middle;
    box-sizing: border-box;
}