/* 管理者側の基本スタイル */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    width: 30%;
}

.product-card h2 {
    font-size: 1.5em;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
